name: Coverage

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install lcov
        sudo apt-get install libcriterion-dev
        sudo apt-get install gcovr
    - name: Run tests
      run: |
        make unit_tests
        make gcovr
        lcov --directory . --capture --output-file coverage.info
    - name: Generate coverage report
      run: |
        genhtml coverage.info --output-directory out
      - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: coverage.info
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Add coverage badge to README
      run: |
        echo "[![codecov](https://codecov.io/gh/OWNER/REPO/branch/master/graph/badge.svg)](https://codecov.io/gh/OWNER/REPO)" >> README.md
