name: Coverage

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install lcov
        sudo apt-get install libcriterion-dev
        sudo apt-get install gcovr
    - name: Run tests
      run: |
        make unit_tests
        make gcovr
        lcov --directory . --capture --output-file coverage.info
    - name: Generate coverage report
      run: |
        genhtml coverage.info --output-directory out
    - name: Checkout gh-pages branch
      run: git checkout -b gh-pages
    - name: Copy coverage report to gh-pages branch
      run: cp -R out/* .
    - name: Push changes to gh-pages branch
      run: git add . && git commit -m "Updating coverage report" && git push origin gh-pages